RewriteEngine On
RewriteRule com.mysoftwarehouse.web.Menu/getmenu.php index.php?md=menu
RewriteRule com.menu.web.Menu/getmenu.php index.php?md=menu
RewriteRule site.files/(.*)$ site.files/$1 [L]
RewriteRule ^(About\+Us)$ index.php?md=wiki&gr=Main&ty=Page&pg=$1 [L]
RewriteRule ^(Blog)$ index.php?md=wiki&gr=Main&ty=Page&pg=$1 [L]
RewriteRule ^(Contact\+Us)$ index.php?md=wiki&gr=Main&ty=Page&pg=$1 [L]
RewriteRule ^(Advertise\+With\+Us)$ index.php?md=wiki&gr=Main&ty=Page&pg=$1 [L]
RewriteRule ^(Site\+Map)$ index.php?md=wiki&gr=Main&ty=Page&pg=$1 [L]
RewriteRule ^Post-([^-]*)-(.*)$ index.php?md=wiki&gr=Digest&ty=Main&pg=Post&pid=$1 [L]
RewriteRule ^(.*?)Blog\,(.*)\,(.*)$ index.php?md=wiki&gr=Digest&ty=Main&pg=Blog&fid=$2&sid=$3 [L]
RewriteRule ^(.*?)List\,(.)\,(.*)$ index.php?md=wiki&gr=Digest&ty=Main&pg=List&cid=$2&sid=$3 [L]
RewriteRule ^Category(.*?)\,(.)\,(.*)$ index.php?md=wiki&gr=Digest&ty=Main&pg=Category&cid=$2&sid=$3 [L]
RewriteRule ^Admin$ index.php?md=wiki&gr=Digest&ty=Admin&pg=Welcome [L]
RewriteRule ^Admin-(.*?)$ index.php?md=wiki&gr=Digest&ty=Admin&pg=$1 [L]
RewriteRule ^([^-]*)-([^-]*)-([^-]*)-(.*)$ relocate.php?url=$1/$2/$3/$4 [L]
RewriteRule ^([^-]*)-([^-]*)-(.*\.php)$ relocate.php?url=$1/$2/$3 [L]
RewriteRule ^([^-]*)-([^-]*)-(.*\.[jJ][pP][gG])$ relocate.php?url=$1/$2/$3 [L]
RewriteRule ^([^-]*)-([^-]*)-(.*\.[jJ][pP][eE][gG])$ relocate.php?url=$1/$2/$3 [L]
RewriteRule ^([^-]*)-([^-]*)-(.*\.[pP][nN][gG])$ relocate.php?url=$1/$2/$3 [L]
RewriteRule ^([^-]*)-([^-]*)-(.*\.[gG][iI][fF])$ relocate.php?url=$1/$2/$3 [L]
RewriteRule ^([^-]*)-([^-]*)-(.*)$ relocate.php?url=$1/$2/$3 [L]
RewriteRule ^(.*)\.css$ index.php?md=css&gr=&ty=&pg=$1 [L]
RewriteRule ^sitemap\.xml$ index.php?md=sitemap [L]
RewriteRule ^sitemap\.xml\.website\.php$ index.php?md=sitemap [L]

RewriteRule ^([^/]*)/([^/]*)/([^/]*)/(.*)$ index.php?md=$1&gr=$2&ty=$3&pg=$4 [L]
RewriteRule ^([^/]*)/([^/]*)/(.*\.php)$ index.php?md=php&gr=$1&ty=$2&pg=$3 [L]
RewriteRule ^([^/]*)/([^/]*)/(.*\.[jJ][pP][gG])$ index.php?md=img&gr=$1&ty=$2&pg=$3 [L]
RewriteRule ^([^/]*)/([^/]*)/(.*\.[jJ][pP][eE][gG])$ index.php?md=img&gr=$1&ty=$2&pg=$3 [L]
RewriteRule ^([^/]*)/([^/]*)/(.*\.[pP][nN][gG])$ index.php?md=img&gr=$1&ty=$2&pg=$3 [L]
RewriteRule ^([^/]*)/([^/]*)/(.*\.[gG][iI][fF])$ index.php?md=img&gr=$1&ty=$2&pg=$3 [L]
RewriteRule ^([^/]*)/([^/]*)/(.*)$ index.php?md=wiki&gr=$1&ty=$2&pg=$3 [L]

RewriteRule ^Login$ index.php?md=Wiki&gr=Main&ty=Login&pg=Login [L]
RewriteRule ^Login-(.*?)$ index.php?md=Wiki&gr=Main&ty=Login&pg=$1 [L]
