/*//
// *****************************************************************************
// This program is part of MyWISE - My Wiki Inside Site Engine
//
// See LICENSE.md in the project root for license information.
// *****************************************************************************
//*/
DIV.wise-wiki-fieldset {
	
}

PRE.wise-wiki-fieldset {
	font-family: courier, monospace;
	font-size: 12px;
}

FIELDSET.wise-wiki {
	
}

LEGEND.wise-wiki {
	font-weight: bold;
}