/*//
// *****************************************************************************
// This program is part of MyWISE - My Wiki Inside Site Engine
//
// See LICENSE.md in the project root for license information.
// *****************************************************************************
//*/
H1.wise-wiki {
	width: 80%;
	background: #111111;
	color: white;
}

H2.wise-wiki {
	width: 60%;
	background: #111111;
	color: white;
}

H3.wise-wiki {
	width: 50%;
	background: #111111;
	color: white;
}

H4.wise-wiki {
	width: 40%;
	background: #111111;
	color: white;
}

H5.wise-wiki {
	
}

H6.wise-wiki {
	
}