/*//
// *****************************************************************************
// This program is part of MyWISE - My Wiki Inside Site Engine
//
// See LICENSE.md in the project root for license information.
// *****************************************************************************
// */
BODY {
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 80px;
	margin-bottom: 80px;
	background-color: #ffffff;
}
/*//------------------------------*/
DIV.page-header-title {
	color: #111111;
}

IMG.page-header-logo {
	height: 100px;
}

DIV.page-header-subtitle {
	font-style: italic;
	margin-bottom: 10px;
	font-size: 14px;
	text-align: center;
}
/*//------------------------------*/
DIV.page-footer {
	color: white;
}

DIV.page-footer-text {
	color: #111111;
	text-align: right;
	padding: 10px 40px 10px 0px;
}